.h-window {
  height: 100vh;
}

.w-window {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  font-size: 7rem;
  font-weight: 900;
  user-select: none;
  color: #3e8ac1;
  background: -webkit-linear-gradient(0deg, #3e8ac1, #e5d9e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  background-color: #3e8ac1;
  box-shadow: #000 0 0 10px;
  transition: 200ms;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  filter: brightness(0.9);
}

.btn i {
  color: #fff;
  font-size: 2rem;
}