.img_box {
  height: 24rem;
  width: 24rem;
}

.img_box img {
  height: 24rem;
  width: 24rem;
}

.img_title {
  font-size: 2rem;
  font-weight: 600;
  display: block;
  width: 24rem;
  text-align: center;
  transform: translateY(-5rem);
  background: linear-gradient(90deg, #ffffff 0%, #ffffff66 50%, #ffffff 100%);
}

.text {
  width: 34rem;
}

@media screen and (max-width: 62rem) {
  .img_box {
    height: 20rem;
    width: 20rem;
  }
  
  .img_box img {
    height: 20rem;
    width: 20rem;
  }
  
  .img_title {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    width: 20rem;
    text-align: center;
    transform: translateY(-5rem);
    background: linear-gradient(90deg, #ffffff 0%, #ffffff66 50%, #ffffff 100%);
  }
  
  .text {
    width: 20rem;
  }
}